<%= turbo_frame_tag "new_user_form" do %>
  <h3 class="mt-5 mb-3">Add New User</h3>
  <%= form_with(model: user, id: 'new_user_form') do |form| %>
    <% if user.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
        <ul>
          <% user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row g-3">
      <% {name: 'text_field', email: 'email_field', city: 'text_field', telephone_number: 'telephone_field'}.each do |field, field_type| %>
        <div class="col-md-3">
          <%= form.label field, class: "form-label" %>
          <%= form.public_send(field_type, field, class: "form-control #{'is-invalid' if user.errors[field].any?}") %>
        </div>
      <% end %>

      <div class="col-md-3">
        <%= hidden_field_tag :search_term, @search_term %>
      </div>

      <div class="col-12">
        <%= form.submit "Add User", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
<% end %>