<tr id="<%= dom_id(user) %>">
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td><%= user.city %></td>
  <td><%= user.telephone_number %></td>
  <td class="d-flex justify-content-end">
    <%= link_to 'X', user_path(user), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn" %>
  </td>
</tr>
